<footer>
    <div class="content-footer">
        <ul class="column-footer">
            <li class="heading-footer">Çözüm ve Hizmetler</li>
            <li class="text-footer">Yazılım Geliştirme</li>
            <li class="text-footer">Outsourcing</li>
            <li class="text-footer">Kalite ve Süreç Yönetimi</li>
            <li class="text-footer">Danışmanlık</li>
            <li class="text-footer">IoT Destekli Çözümler</li>
        </ul>
        <ul class="column-footer">
            <li class="heading-footer">Ürünler</li>
            <li class="text-footer">Eğitim Yönetim Sistemi</li>
            <li class="text-footer">İnsan Sermayesi Yönetim Sistemi</li>
            <li class="text-footer"> Müşteri İlişkileri Yönetim Sistemi</li>
            <li class="text-footer">İçerik Yönetim Sistemi</li>
        </ul>
        <ul class="column-footer">
            <li class="heading-footer">Kurumsal</li>
            <li class="text-footer">Hakkımızda</li>
            <li class="text-footer">Belge ve Yetkinlikler</li>
            <li class="text-footer">İş Ortakları</li>
        </ul>
        <ul class="column-footer">
            <li class="heading-footer">İletişim</li>
            <li class="text-footer">Bilgi İstek Formu</li>
            <li class="text-footer">Uzman Talep Formu</li>
        </ul>
    </div>
    <div class="logo-footer">
        <p class="address-footer"> © Copyright 2010-2021 - Can Çevik</p>
        <div class="link-logo-footer">
            <img class="link-logo" src="/src/assets/images/footer/logo-medium-footer.png" alt="medium">
            <img class="link-logo" src="/src/assets/images/footer/logo-linkedin-footer.png" alt="linkedin">
            <img class="link-logo" src="/src/assets/images/footer/logo-twitter-footer.png" alt="twitter">
            <img class="link-logo" src="/src/assets/images/footer/logo-instagram-footer.png" alt="instagram">
            <img class="link-logo" src="/src/assets/images/footer/logo-facebook-footer.png" alt="facebook">
        </div>
    </div>
</footer>