@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Header */
header {
  position: relative;
  background-image: url("/src/assets/images/header/header.background.png");
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.content-header {
  padding-bottom: 146px;
  padding-left: 122px;
  padding-top: 108px;
}
.content-title {
  width: 665px;
  color: #000;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 82px;
}

.content-desc {
  width: 650px;
  height: 99px;
  flex-shrink: 0;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.2px;
  top: 384px;
  margin-top: 19px;
}

.nav-header {
  padding-top: 44px;
  /* padding-left: 1px; */
}
.nav-links {
  width: 1319px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: Manrope;
  font-style: normal;
  font-size: 14px;
  justify-content: end;
  font-weight: 900;
}

.link {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}

.link:hover {
  color: #fff;
  padding: 10px;
  background-color: #f84646;
  font-weight: 700;
}

.button-header {
  margin: 7px 8px 6px 0px;
  border-radius: 8px;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.2px;
  width: 150px;
  height: 61px;
  font-style: normal;
  background-color: #f84646;
  border: none;
}

.button-header:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.content-input {
  display: flex;
  border: none;
  border-radius: 8px;
  width: 503px;
  margin-top: 50px;
  background-color: #fff;
}

.input-header {
  color: rgba(0, 0, 0, 0.4);
  font-family: Manrope;
  font-size: 16px;
  line-height: 37px;
  font-style: normal;
  border: none;
  border-radius: 8px;
  padding: 19px 137px 18px 32px;
}

.input-header:hover {
  border: none;
}

/* Category */

.category-heading {
  color: #000;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  padding: 120px 0px 37px 506px;
}

.category-dcrs {
  display: flex;
  align-items: center;
  padding: 0px 223px 80px 223px;
  width: 1440px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.5px;
  letter-spacing: 0.2px;
}

.category-post {
  display: flex;
  flex-wrap: wrap;
  row-gap: 79px;
  column-gap: 124px;
  padding: 0px 100px 140px 144px;
}

.category-post-content {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 298px;
  /* height: 84px; */
  flex-shrink: 0;
  line-height: 28px;
}

.category-post-heading-icon-1 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 10px 5px 10px 1px;
}

.category-post1-icon-1 {
  text-align: right;
  margin-bottom: -43px;
  padding-right: 110px;
}
.category-post-icon-1 {
  padding: 0px 10px 0px 110px;
}

.category-post-heading-icon-2 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 10px 5px 10px 5px;
}
.category-post2-icon-2 {
  margin-bottom: -53px;
  padding-left: 106px;
  margin-top: 10px;
}
.category-post-icon-2 {
  padding: 0px 10px 0px 110px;
}
.category-post-heading-icon-3 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 10px 5px 10px 9px;
}
.category-post-icon-3 {
  padding: 0px 10px 0px 114px;
}
.category-post3-icon-3 {
  text-align: right;
  margin-bottom: -50px;
  padding-right: 94px;
  margin-top: 7px;
}
.category-post-heading-icon-4 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 5px 5px 10px 4px;
}
.category-post-icon-4 {
  padding: 21px 10px 0px 110px;
}
.category-post4-icon-4 {
  margin-bottom: -72px;
  padding-left: 109px;
  margin-top: 14px;
}

.category-post-heading-icon-5 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0px 5px 10px 3px;
}
.category-post-icon-5 {
  padding: 2px 10px 11px 112px;
}
.category-post5-icon-5 {
  text-align: right;
  margin-bottom: -45px;
  padding-right: 103px;
}

.category-post-heading-icon-6 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0px 5px 10px 8px;
}

.category-post-icon-6 {
  padding: 12px 10px 10px 118px;
}

.category-post6-icon-6 {
  text-align: right;
  margin-bottom: -45px;
  padding-right: 117px;
}

/* About */

.about-background {
  /* position:relative; */
  background-image: url(/src/assets/images/about/about-bg-img/bg-img.png);
  background-color: #f84648;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.about-title {
  color: var(--default-white, #fff);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  padding: 67px 80px 3px 0px;
}

.about-dcrs {
  color: var(--default-white, #fff);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 5px 80px 5px 0px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  padding: 59px 0px 78px 178px;
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  color: #fff;
}

.about-content-post-1 {
  width: 146px;
  height: 62px;
  margin-right: 46px;
}
.about-content-post-2 {
  width: 199px;
  height: 62px;
  margin-left: 49px;
  margin-right: 46px;
}

.about-content-post-3 {
  width: 181px;
  height: 62px;
  margin-left: 49px;
  margin-right: 45px;
}

.about-content-post-4 {
  width: 182px;
  height: 62;
  margin-left: 49px;
}

.about-icon {
  width: 32px;
  height: 32px;
  margin-top: 15px;
}

/* Product */

/* .content-product {
} */

.product1 {
  display: flex;
  padding: 158px 99px 20px 1px;
}

.content-product1 {
  padding: 4px 140px 4px 120px;
}

.title-product1 {
  color: var(--text-title, #2e2e2e);
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
}

.dcrs-product1 {
  color: var(--text-body, #808080);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 39px 20px 79px 0px;
}

.button-product1 {
  border-radius: 8px;
  background: #f84646;
  display: flex;
  width: 160px;
  padding: 16px;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.button-product1:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.img-product1 {
  padding: 3px 3px 3px 0px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-right: 99px;
}

.product2 {
  display: flex;
}

.content-product2 {
  padding: 0px 150px 10px 150px;
}

.title-product2 {
  color: var(--text-title, #2e2e2e);
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
}

.dcrs-product2 {
  color: var(--text-body, #808080);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 527px;
  margin-bottom: 32px;
}

.button-product2 {
  color: var(--text-body, #808080);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 39px 20px 79px 0px;
}

.button-product2:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.img-product2 {
  padding: 3px 3px 3px 3px;
  width: 504px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-left: 140px;
  margin-right: 75px;
}

/* Sponner */
.content-sponner {
  display: inline-flex;
  padding: 0px 420px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  background-color: var(--text-gray-100, #f4f5f7);
  width: 100vw;
}

.heading-sponner {
  padding: 10px 10px 10px 350px;
}

.title-sponner {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.dcrs-sponner {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.logo-sponner {
  display: flex;
  align-items: center;
}

/* Contact */

.content-contact {
  width: 100vw;
  height: 700px;
  background: #fff;
}

.icon1-contact {
  width: 120px;
  height: 120px;
  margin-left: 890px;
  margin-top: 200px;
}

.title-contact {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  padding: 10px 1px 30px 1px;
}

.dcrs-contact {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.button-contact {
  color: #fff;
  display: inline-flex;
  padding: 25px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f84646;
  margin-left: 850px;
  margin-top: 35px;
  border: none;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button-contact:hover {
  border: none;
  background-color: #f66e6e;
}

/* Footer */

footer {
  width: 100vw;
  height: 536px;
  flex-shrink: 0;
  background: #f8464a;
}

.content-footer {
  width: 1450px;
  height: 450px;
  display: flex;
  font-family: Inter;
  font-style: normal;
  line-height: 32px;
  font-size: 16px;
  justify-content: space-between;
  color: var(--text-disable, #d3d3d3);
  font-weight: 400;
  line-height: 32px;
  padding-top: 50px;
  padding-left: 140px;
}

.column-footer {
  list-style: none;
}

li {
  padding: 0px 0px 30px 0px;
}

.address-footer {
  width: 600px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  padding-left: 175px;
  margin-top: 10px;
  color: var(--text-white, #fff);
}

.logo-footer {
  margin-top: -50px;
  padding-left: 1450px;
}

.link-logo-footer {
  margin: 16px;
}
